body{
    background-image: url(../img/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* reservation */
#reservation .form-control {
    border-radius: 0;
}

#reservation .form-control:focus {
    box-shadow: none;
    border-color: #F58d17;
}

#reservation input.form-control {
    height: 47px;
}


/* Footer */
footer {
    background: linear-gradient(rgba(54, 56, 54, 0.5), rgba(0, 0, 0, 0.7));
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(235, 229, 229, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 125px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(14, 13, 13, 0.4);
}
