/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');
 .navbar{
   
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-shadow: -1px -1px 1.2px rgba(63, 59, 59, 0.5),
    1px 1px 1px rgb(1 1 1 / 7%);
    box-shadow:
    inset 3px 5px 5px -1px rgba(228, 228, 228, 0.5), 
    inset -3px -3px 5px -1px rgb(0 0 0 / 20%),
     1px 1px 1px 2px rgba(234, 228, 228, 0.8),
    2.5px 5px 5px 1px rgb(0 0 0 / 90%) 
  
}
.navbar-nav{
    margin-top: auto;
}
nav a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

   
  

.title{
    font-size: 10px;
    color: rgb(233, 100, 52);
    text-shadow: -1px -2px 1.2px rgba(63, 59, 59, 0.5),
    2px 3px 2px rgb(1 1 1 / 7%);

   
} 


.parallax {
    /* Imagen usada */
    background-image: url(/img/fondo1.jpg);
  height: 80vh;
    /* Defino la altura  */
    min-height: 360px; 
  
    /* Creando el efecto de desplazamiento de parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    inset 3px 5px 5px 1px rgba(1, 17, 11, 0.5), 
    inset 3px 3px 5px 1px rgba(22, 170, 61, 0.2),
     1px 1px 1px 2px rgba(74, 101, 62, 0.8),
    2.5px 5px 5px 1px rgb(0 0 0 / 90%) 
  
  }

.text-center{
    font-weight: bold;
    text-shadow: -1px -1px 1.2px rgba(63, 59, 59, 0.5),
    1px 1px 1px rgba(152, 148, 148, 0.07);
  
}













































/* body{
    background-color: blueviolet;
}


.navbarDesign{
    height: 120px;
    z-index: 1;
    overflow: hidden;
    font-size: 30px;
    font-family: cursive ;
font-weight: bold;
}


.box1{
    background-color: rgba(156, 237, 237, 0.984);
    box-shadow: inset rgba(0 , 0 ,0 , 1.5);
    border-bottom: 10px;
}
.main{
    height: 700px;
   
}
.box2{
    display: flex;
    background-image: url(/img/fondo1.jpg);
    background-repeat: no no-repeat;
    background-size: cover;
    justify-content: flex-start;
} 
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    font-family: cursive;
    box-shadow: inset rgba(0, 0 ,0 , 0, 2.5)
    inset rgba(0, 0 ,0 , 0, 2.5);
   
}
.logo{
    display: flex;
  
    color: rgb(225, 69, 17);
    box-shadow: inset rgba(0, 0 ,0 , 0, 2.5)
    inset rgba(0, 0 ,0 , 0, 2.5);
}
.footer{
    background-color: blue;
    height: 120px;
} */